

*{margin: 0;padding: 0;box-sizing: border-box;}

.navbar{
	background-color:white !important;
}
.navbar-brand{
	font-size:30px !important;
	color:#565387 !important;
	font-weight: bolder !important;
}
.navbar a{
	font-size: 1.3rem !important;
	text-transform: capitalize !important;
}

.menu_active{
	
	font-weight: bold !important;
	border-bottom: 1px solid #565387 !important;
}
.navbar-brand:hover{
	color: #3498db !important;
}
.navbar a:hover{
	color: #3498db !important;
}
.navbar-nav{
	margin-left: auto !important;
}
.homeText{
	font-size: 100px;
}
.homeText2{
	font-size: 30px;
}
.certiDropDown{
	margin-left:-272px !important;
}

.dropdown-item{
	font-size: 15px !important;
	background-color:white !important;
	color:grey !important;
}
.dropdown-item :hover{
	color: #3498db !important;
}
.btnPos{
	left: 50%;
	top: 40%;
}
@media (max-width: 991px){
	#header {
		height: 80vh;
		text-align: center;
	}
	#header .header-img {
		text-align: center;
	}
	#header .header-img img{
		width: 60%;
	}
	.navbar-brand{
		font-size: 1.5rem !important;
	}
	.menu_active{
		font-weight: bold !important;
		border-bottom: none;
	}
}
.site_container {
	
 flexDirection: row;
  justifyContent: center;
   alignItems: center ;
   padding:10;
   display:flex;
}
.card_img_top{
	height:500px;
	width:500px;
	alignItems: center;
	display: block;
	justifyContent: center;
	marginRight:auto;
	marginLeft:auto;
	padding:10px;
}
.bigPagination{
	display:block;
}

.smallPagination{
	display:none;
}
.ScrollText{
	font-size: 25px;
}

@media (max-width: 768px){
	#header {
		margin-top:20px; 
	}
	#header h1 {
		font-size:28px; 
	}
	#header h2{
		font-size:18px; 
		margin-top: 30px;
	}
	#header .header-img img{
		width: 70%;
	}
	.site_container {
    flex-direction: column;

  }
  .card_img_top{
  	height:300px;
	width:300px;
	
  }
  .homeText{
	font-size: 50px;
}
.homeText2{
	font-size: 15px;
}
.bigPagination{
	display:none;
}

.smallPagination{
	display:block;
}
.btnPos{
	top:75%;
	left:23%;
}
.ScrollText{
	font-size: 15px;
}
.certiDropDown{
	margin-left: 0px !important;
}
}



.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.note{
	margin-top: 50px !important;
	margin-left: 30px !important ;
	box-shadow: 3px 3px 18px  lightGrey !important;
	width: 250px !important;
	height: auto !important;
	border-radius: 12px !important;

	padding: 5px 10px 5px 10px !important;
}

.app{
	max-width: 1200px;
	width :100%;
	margin: 100px auto;
	box-shadow: 0 0 5px #ccc;
}
.details{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 30px 0;

}
.details .big-img{
	margin: 500px;
	
	overflow: hidden;
	margin: 25px;
}


.details .box{
	
	margin: 25px;
}
.box .row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	
}
.display-linebreak {
  white-space: pre-line;
}


.input_hide{
	display:none;
}


.searchBtn{
	height: 50px;
	width:50px;
	color:grey;
	margin-left: 10px;
	
	border:none;
	background-color:rgb(250,250,250);
	border-radius:50%;
}
.searchBtn1{
	height: 50px;
	width:50px;
	color:grey;
	margin-left: 10px;
	
	border:none;
	background-color:rgb(210,210,210);
	border-radius:50%;
}
.searchBtn1:hover{
	color: #3498db !important;
}
.searchBtn:hover{
	color: #3498db !important;
}

input:focus {
  outline: none;
}
.autocom-box li{
  list-style: none;
  
  
}
.autocom-box li:hover{
  background-color:  #efefef;
}

.card{
	margin:6%;
	transition: all 0.4s cubic-bezier(0.175,0.885,0,1);
	background-color: #fff;
	
	border-radius: 12px;
	box-shadow: 0px 13px 10px -7px  rgba(0,0,0,0.1);
	
}
.card:hover{
	box-shadow: 0px 30px 18px -8px  rgba(0,0,0,0.1);
	transform: scale(1.05,1.05);
}
.card_img{
	width: 100%;
	height:235px;
	
}


.bgImage{
	background-image: url(./backgroundImage.jpg);
	height: 90vh;
  /* Full height */
  width: 100%;
  
  background-size: cover;
  overflow: hidden;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat,repeat;
  
}


.containerScroll {
  position: relative;
  width: 34px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 38px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.textScroll {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}





.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.carousel-control-prev-icon {
  color: black !important; 
}